header {
  background-color: #333;
  padding: 20px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px 20px 10px;
    background-color: #333;
}
.flex-container a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shop-now button{
    padding: 10px;
    margin: 20px;
    background-color: #4caf50;
    border-radius: 8px;
    
}
.shop-now button a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
}
.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
}

footer{
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
    color: white;
}

